
.todoContainer
{
    width: 80%;
    /* height: 50px;
    color: gray;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 20px; */
}
.span1
{
    /* width: 400px;
    height: 45px; */
    width: 80%;
    height: 50px;
    color: gray;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 20px;

}